.container {
  padding: 56px 80px;
  max-width: 1440px;
  margin: 0 auto;

  .bar {
    background-color: black;
    padding-top: 47px;
    padding-bottom: 49px;
    padding-left: 110px;
    padding-right: 110px;
    border: 1px solid #cbcbcb;
    box-shadow: 0px 2px 43px rgba(115, 115, 115, 0.11);
    border-radius: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .left {
      font-family: var(--font-manrope);
      color: white;
      font-weight: 600;
      width: 502px;
    }

    .orange {
      color: #fb614c;
      font-weight: 600;
      line-height: 24px;
      text-decoration: underline;
      margin-right: 17px;
    }

    .download_container {
      display: flex;
      align-items: center;
    }
  }
}

@media (max-width: 950px) {
  .container {
    padding: 20px 16px;

    .bar {
      padding: 0;
      flex-direction: column;
      border-radius: 12px;

      .left {
        font-weight: 600;
        font-size: 14px;
        line-height: 19px;
        text-align: center;
        letter-spacing: -0.01em;
        width: auto;
        padding: 20px 30px 10px;
      }

      .orange {
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        align-items: center;
        text-decoration-line: underline;
        margin: 0;
      }

      .download_container {
        margin-bottom: 10px;
        gap: 5px;

        img {
          width: 10%;
          height: auto;
        }
      }
    }
  }
}