.Kanban {
  background-color: #f1f0f0;
  display: grid;
  grid-template-columns: 1.3fr 1fr;
  gap: 47px;
  padding: 40px 80px;
  // height: 268px;
  max-width: 1440px;
  margin: 0 auto;
  .right {
    .heading {
      margin-bottom: 36px;
      font-family: var(--font-manrope);
    }
    p {
      line-height: 139%;
      letter-spacing: -0.03em;
    }
  }
}

@media (max-width: 950px) {
  .Kanban {
    display: flex;
    flex-direction: column-reverse;
    padding: 20px 16px;
    height: auto;
    gap: 20px;
    .right {
      width: auto;
      .heading {
        margin-bottom: 10px;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        letter-spacing: -0.03em;
      }
      p {
        font-weight: 400;
        font-size: 14px;
        line-height: 140%;
        text-align: center;
        letter-spacing: -0.03em;
        margin-bottom: 0;
      }
    }
  }
}
