.LearnAgile {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-left: 80px;
  padding: 121px 0px 110px 86px;
  max-width: 1440px;
  margin: 0 auto;
  .left {
    .heading {
      font-family: var(--font-manrope);
    }

    display: flex;
    flex-direction: column;
    gap: 19px;
    padding-right: 157px;
  }
  .text_right {
    place-items: center;
    align-items: flex-start;
    display: flex;
    gap: 32px;
    .stats {
      width: 100px;
      .num {
        font-weight: 800;
        line-height: 50.04px;
        color: #fb5741;
      }

      .text {
        line-height: 19.36px;
        padding-top: 8px;
      }
    }
  }
}

@media (max-width: 950px) {
  .LearnAgile {
    padding: 20px 16px;
    display: flex;
    flex-direction: column;
    .left {
      padding: 0;
      .heading {
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        letter-spacing: -0.03em;
      }
      p {
        font-weight: 500;
        font-size: 14px;
        line-height: 140%;
        text-align: center;
        letter-spacing: -0.03em;
      }
      .heading_2 {
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        margin-bottom: 15px;
      }
    }
    .text_right {
      gap: 0;
      flex-wrap: wrap;
      justify-content: center;
      row-gap: 5px;
      .stats {
        .num {
          font-style: normal;
          font-weight: 700;
          font-size: 24px;
          line-height: 120%;
          text-align: center;
        }
        p {
          font-weight: 400;
          font-size: 12px;
          line-height: 139%;
          letter-spacing: -0.03em;
          width: 91px;
          text-align: center;
        }
      }
    }
  }
}
