.PathwayAgile {
  max-width: 1440px;
  margin: 0 auto;
  .AgileExcellence {
    // width: 591px;

    position: relative;
    // background: url(image.png);

    background-color: black;
    height: 400px;
    display: flex;

    .left {
      display: flex;
      flex-direction: column;
      padding: 73px 0px 0px 80px;
      gap: 24px;
      margin-right: 125px;
      .heading {
        max-width: 591px;
        color: white;
      }
      p {
        max-width: 591px;
        color: white;
      }
    }
    .actor {
      z-index: 2;
    }
  }
  .StatsBox {
    z-index: 1;
    margin-top: 295px;
    position: absolute;
    display: flex;
    background: #ffffff;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.19);
    width: 1251px;
    height: 199px;
    padding: 46px 0px 51px 80px;
    .text_left {
      // place-items: center;
      display: flex;
      gap: 32px;
      .stats {
        .num {
          font-weight: 800;
          line-height: 50.04px;
          color: #fb5741;
        }

        .text {
          line-height: 19.36px;
          padding-top: 8px;
          width: 123px;
        }
      }
    }
  }
  .lower {
    margin-top: 154px;
    padding-left: 80px;
    padding-bottom: 56px;
    display: flex;
    gap: 91px;
    .logos {
      display: flex;
      flex-wrap: wrap;
      // grid-template-columns: 1fr 1fr 1fr;
      gap: 63px;
      // row-gap: 10px;
    }
  }
}

@media (max-width: 950px) {
  .PathwayAgile {
    .AgileExcellence {
      flex-direction: column;
      height: auto;
      background: white;

      .left {
        padding: 20px 16px 130px;
        margin: 0;
        background: black;
        .heading {
          width: auto;
          font-weight: 800;
          font-size: 24px;
          line-height: 112.6%;
          letter-spacing: -0.03em;
        }
        p {
          width: auto;
          font-weight: 400;
          font-size: 14px;
          line-height: 140%;
          letter-spacing: -0.03em;
        }
      }
      .StatsBox {
        position: relative;
        width: auto;
        margin: 0;
        height: auto;
        padding: 12px 16px;
        margin: 10px 20px;
        margin-top: -70px;
        border-radius: 4px;
        .text_left {
          display: grid;
          grid-template-columns: repeat(2, 60px);
          row-gap: 10px;
          column-gap: 20px;
          // flex-direction: column;
          .stats {
            .num {
              font-weight: 800;
              font-size: 16px;
              line-height: 120%;
            }
            p {
              font-weight: 400;
              font-size: 12px;
              line-height: 139%;
              letter-spacing: -0.03em;
              width: 91px;
            }
          }
        }
        img {
          position: absolute;
          bottom: 0;
          right: -4vw;
          width: 52%;
          height: auto;
        }
        .img_wrapper {
          width: 200px;
        }
      }
    }
    .lower {
      margin: 0;
      padding: 0px 16px 20px;
      justify-content: center;
      flex-direction: column;
      gap: 20px;
      .logos {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        img {
          width: 100%;
        }
      }
    }
  }
}

@media (max-width: 950px) and (min-width: 550px) {
  .PathwayAgile {
    .AgileExcellence {
      .left {
        p {
          font-size: 19px;
        }
      }
      .StatsBox {
        .img_wrapper {
          width: 0;
        }
        .text_left {
          grid-template-columns: repeat(2, 1fr);
          .stats {
            .num {
              font-size: 30px;
            }
            p {
              width: auto;
              font-size: 21px;
            }
          }
        }
        img {
          position: absolute;
          bottom: 0;
          right: 3vw;
          width: 28vw;
          height: auto;
        }
      }
    }
  }
}
