.coaches_hero {
  background-color: #000;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 16px 0px 53px 80px;
  max-width: 1440px;
  margin: 0 auto;

  .left {
    .label {
      font-weight: 500;
      line-height: 17px;
      color: #181818;
      text-align: center;
      background-color: #ffeeda;
      padding: 6px 7px;
      border-radius: 4px;
      width: fit-content;
    }

    .heading {
      font-weight: 800;
      line-height: 41px;
      text-align: left;
      color: white;
      padding-top: 32px;
      width: 80%;

      span {
        color: #fb614c;
      }
    }
  }

  .vector_art {
    place-self: center;
  }
}

@media (max-width: 950px) {
  .coaches_hero {
    padding: 30px 20px 20px;
    display: flex;
    flex-direction: column;
    .left {
      .label {
        font-weight: 500;
        font-size: 12px;
        line-height: 112.6%;
        letter-spacing: -0.03em;
      }
      .heading {
        width: auto;
        padding-top: 20px;
        padding-bottom: 30px;
        font-weight: 800;
        font-size: 32px;
        line-height: 112.6%;
        letter-spacing: -0.03em;
      }
    }
  }
}
