.skills_wrapper {
  width: 100%;

  .skills_header {
    display: flex;
    flex-direction: column;
    justify-content: center;

    text-align: center;
    width: 50%;
    transform: translate(50%, 0%);
    gap: 16px;
    padding: 51px 0px 42px;

    @media (max-width: 950px) {
      padding: 35px 16px;
      width: auto;
      transform: none;
    }

    .highlighted_heading {
      letter-spacing: -0.005em;
      color: #222222;
      font-weight: 600;

      @media (max-width: 950px) {
        font-weight: 600;
        font-size: 20px;
        line-height: 27px;
        // width: 80%;
        // margin: auto;
      }

      span {
        color: #fb5741;
      }
    }

    p {
      @media (max-width: 950px) {
        font-weight: 400;
        font-size: 12px;
        line-height: 120%;
        letter-spacing: -0.03em;
      }
    }
  }

  .explore_categories {
    display: grid;
    grid-template-columns: 1fr 1.1fr;
    margin: 0 auto;

    @media (max-width: 950px) {
      display: flex;
      flex-direction: column-reverse;
    }

    .left {
      background-color: black;
      display: flex;
      justify-content: flex-end;
    }

    .right {
      max-width: 760px;
      @media (max-width: 950px) {
        max-width: 100%;
      }
      .container{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }

    .skills_black {
      // background-color: black;
      max-width: 680px;
      color: white;
      padding: 60px 60px 60px 80px;

      @media (max-width: 950px) {
        padding: 11px 16px;
        padding-block: 35px;
      }

      .ContainerHeading {
        white-space: pre-line;

        @media (max-width: 950px) {
          font-size: 20px;
          line-height: normal;
          white-space: normal;
          text-align: center;
        }
      }

      p {
        font-size: 16px;
        padding: 13px 0px 32px;
        line-height: 22px;
        letter-spacing: -0.03em;
        white-space: pre-line;
        width: 83%;
        color: white;

        @media (max-width: 950px) {
          line-height: normal;
          white-space: normal;
          text-align: center;
          padding: 20px 0 30px;
          width: auto;
        }
        @media (max-width: 550px) {
          font-size: 14px;
        }
      }

      button {
        font-size: 16px;
        font-weight: 600;
        line-height: 19px;
        letter-spacing: 0em;
        background-color: #fb5741;
        padding: 13.5px 12px;
        color: white;

        @media (max-width: 950px) {
          width: 100%;
          border-radius: 4px;
          justify-content: center;
        }
      }
    }

    .skills_white {
      display: flex;
      flex-direction: column;
      align-items: center;

      gap: 28px;

      @media (max-width: 950px) {
        margin-top: 30px;
      }

      .card_heading {
        font-family: var(--font-manrope);
        font-size: 20px;
        font-weight: 700;
        line-height: 27px;
        letter-spacing: -0.005em;
        text-align: center;
        color: #222222;
        width: 60%;

        @media (max-width: 950px) {
          width: 95%;
        }
        @media (max-width: 550px) {
          font-size: 16px;
          line-height: normal;
        }

        .colored {
          color: #fb5741;
        }
      }
    }
  }
}

@media (max-width: 950px) and (min-width: 550px) {
  .skills_wrapper {
    .skills_header {
      h3 {
        font-size: 35px;
        line-height: normal;
      }

      p {
        font-size: 16px;
      }
    }

    .explore_categories {
      .skills_black {
        width: 90%;
        margin: auto;
        box-shadow: -200px 0px 0px 0px black, 200px 0px 0px 0px black;

        p {
          width: 90%;
          margin: auto;
        }

        button {
          width: 60%;
          margin: auto;
        }
      }
    }
  }
}