.skillup_wrapper {
  display: flex;
  align-items: center;
  padding: 47.26px 80px 62.26px;
  background: linear-gradient(0deg, #000000, #000000), #010101;
  border-radius: 24px;
  justify-content: space-around;

  .mobile{
    display: none !important;
  }

  @media (max-width: 950px) {
    border-radius: 8px;
    padding: 20px 10px 20px 15px;
    gap: 10px;
    flex-direction: column;
    .mobile{
      display: flex !important;
    }
    .desktop{
      display: none !important;
    }
  }

  .skillup {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .images {
    display: flex;
    align-items: center;
    margin-right: 10px;

    .img_1 {
      height: 266.25px;
      width: 154.99px;

      border-radius: 20px 0 0 20px;
      position: relative;
      // margin-top: 7px;

      @media (max-width: 950px) {
        height: 181px;
        width: 100px;
      }

      @media (max-width: 480px) {
        height: 90px;
        width: 55px;
      }
    }

    .img_2 {
      // height: 266.25px;
      height: 300px;
      width: 154.99px;
      position: relative;

      // background-color: red;
      margin-left: 4.53px;
      border-radius: 0px 20px 20px 0px;
      transform-origin: center left;
      transform: perspective(1500px) rotateY(-10deg);

      @media (max-width: 950px) {
        height: 208px;
        width: 100px;
      }

      @media (max-width: 480px) {
        height: 103px;
        width: 64px;
      }
    }

    .curve_1 {
      @media (max-width: 950px) {
        height: 188px;
        width: 10px;
      }

      @media (max-width: 480px) {
        height: 89px;
        width: 4px;
      }
    }

    .curve_2 {
      @media (max-width: 950px) {
        height: 160px;
        width: 6px;
      }

      @media (max-width: 480px) {
        height: 59px;
        width: 2px;
      }
    }
  }

  .text_content {
    width: 50%;

    @media (max-width: 950px) {
      width: auto;
      width: fit-content;
    }

    .highlighted_heading {
      color: white;

      @media (max-width: 950px) {
        font-weight: 800;
        font-size: 18px;
        line-height: 120%;
        letter-spacing: -0.03em;
      }

      @media (max-width: 400px) {
        font-size: 18px;
        line-height: normal;
      }

      .colored {
        color: #fb5741;
        text-decoration: underline;
      }
    }
  }

  .all_points {
    display: flex;
    flex-direction: column;
    gap: 18px;
    padding-top: 40px;

    svg {
      @media (max-width: 950px) {
        transform: translateY(4px);
      }
    }

    @media (max-width: 950px) {
      padding-top: 10px;
      flex-direction: row;
    }

    .point {
      display: flex;
      color: white;
      gap: 4px;

      div {
        @media (max-width: 950px) {
          font-size: 10px;
          line-height: 139%;
          letter-spacing: -0.03em;
        }

        svg {
          @media (max-width: 950px) {
            width: 15px;
            height: 15px;
          }
        }
      }

      @media (max-width: 950px) {
        align-items: center;
      }

      .check {
        display: flex;
        justify-content: center;
        align-items: center;

        background: #f4fdf8;
        border-radius: 6.54545px;
        height: 24px;
        width: 24px;

        @media (max-width: 950px) {
          height: 20px;
          width: 30px;
          margin-right: 4px;
          border-radius: 4px;
        }
      }

      .num {
        padding-left: 12px;
        font-weight: 700;
      }

      .num,
      .text {
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
        color: white;
      }
    }
  }
}

@media (max-width: 950px) and (min-width: 550px) {
  .skillup_wrapper {
    padding: 54px 10px 40px 15px;

    .skillup {
      width: 100%;
      justify-content: space-evenly;

      .text_content {
        width: 40%;

        h2 {
          font-size: 4.2vw;
          text-align: center;

          div {
            display: inline;
          }
        }
      }
    }

    .all_points {
      .point {
        .check {
          height: 26px;
        }

        div {
          font-size: 2vw;
        }
      }
    }
  }
}