.skill {
  // display: block;
  background-color: #0e3b65;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0px;

  .heading {
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 26px;
    color: white;
    font-weight: bold;
    text-align: center;
  }

  .heading_desc {
    max-width: 1085px;
    text-align: center;
    margin-bottom: 38px;
    font-weight: 400;
    font-size: 15px;
    line-height: 140%;
    letter-spacing: 0.005em;
    color: #ffffffe0;
  }

  .tiles {
    background-color: #0e3b65;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 103px;

    .tile {
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: 354px;

      .text_sec {
        text-align: center;
      }

      .tile_heading {
        font-size: 20px;
        color: white;
        font-weight: bold;
        margin-bottom: 9px;
      }

      .tile_desc {
        font-size: 15px;
        color: #e8e8e8;
        font-weight: 500;
        font-size: 15px;
        line-height: 140%;
        letter-spacing: 0.005em;
        width: 100%;
      }
    }
  }
}

@media (max-width: 950px) {
  .skill {
    padding: 20px 16px;

    .heading {
      font-weight: 700;
      font-size: 20px;
      line-height: 100.8%;
      padding-bottom: 5px;
    }

    p {
      width: auto;
      font-weight: 400;
      font-size: 14px;
      line-height: 140%;
      text-align: center;
      letter-spacing: 0.005em;
    }

    .tiles {
      display: flex;
      flex-direction: column;
      gap: 30px;

      .tile {
        width: auto;

        .tile_heading {
          font-weight: 700;
          font-size: 16px;
          line-height: 140%;
          letter-spacing: 0.005em;
        }

        .tile_desc {
          font-weight: 500;
          font-size: 12px;
          line-height: 140%;
          letter-spacing: 0.005em;
        }
      }
    }
  }
}