.FAQ {
  padding-left: 92px;
  padding-top: 60px;
  padding-bottom: 29.97px;

  max-width: 1440px;
  margin: 0 auto;

  @media (max-width: 950px) {
    padding: 20px 16px;
  }

  .early_bid {
    @media (min-width: 951px) {
      display: none;
    }
    background-color: #f4fdf8;
    bottom: 0;
    left: 0;
    position: fixed;
    z-index: 10001;
    padding: 16px;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.06);
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;

    // border: 2px solid red;
    .highlighted_heading {
      font-weight: 500;
      font-size: 12px;
      line-height: 139%;
      text-align: center;
      margin: 0;
      letter-spacing: -0.03em;

      .colored {
        color: #fb5741;
        font-size: 14px;
        font-weight: 700;
      }
    }

    button {
      padding: 14px 24px;
      font-weight: 700;
      font-size: 14px;
      line-height: 140%;
      display: flex;
      justify-content: center;
      width: 100%;
      background: #fb5741;
      color: #ffffff;
      border-radius: 4px;
    }
  }

  .badge {
    font-size: 14px;
    color: var(--main_color);

    @media (max-width: 950px) {
      text-align: center;
    }
  }
  .highlighted_heading {
    margin-bottom: 32px;

    @media (max-width: 950px) {
      font-weight: 700;
      font-size: 20px;
      line-height: 27px;
      text-align: center;
      margin-top: 20px;
    }

    span {
      color: var(--main_color);
    }
  }
  .questions {
    display: flex;
    flex-direction: column;
    gap: 10px;

    @media (max-width: 950px) {
    }

    .img {
      width: 50px;
      height: 50px;
      background-color: #f5f5f5;
      padding: 17px;

      @media (max-width: 950px) {
      }
    }
    button {
      border-radius: 100%;

      @media (max-width: 950px) {
      }
    }
    .question {
      display: flex;
      gap: 40px;
      border-top: 0.5px solid #adafae;
      border-bottom: 0.5px solid color(#adafae, 0.5);
      color: #181818;
      align-items: center;
      padding: 10px 0px;

      @media (max-width: 950px) {
        width: auto;
      }
    }
  }
}
