.industryfields {
  padding-top: 40px;
  padding-bottom: 42px;
  max-width: 1440px;
  margin: 0 auto;

  .upper {
    margin-bottom: 24px;
    text-align: center;
    display: flex;
    justify-content: center;

    .highlighted_heading {
      width: 400px;
      font-family: var(--font-manrope);

      span {
        color: var(--main_color);
      }
    }

  }

  .lower {
    display: flex;
    justify-content: center;
    gap: 77px;
    color: #2f2f2f;

    .desc {
      font-weight: 500;
      line-height: 139%;
      letter-spacing: -0.03em;
    }

    .left {
      display: flex;
      flex-direction: column;
      gap: 19px;

      h6 {
        @media (max-width: 550px) {
          font-size: 12px;
          font-style: normal;
          font-weight: 700;
          line-height: 120%;
        }
      }

      .sector {
        padding-left: 36px;
        padding-top: 8px;
        padding-bottom: 8px;
        // background-color: var(--main_color);
        display: flex;
        gap: 10px;
        align-items: center;
        color: #072125;
        border: 1px solid rgba(40, 40, 40, 0.19);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 8px;
        width: 308px;

        .img {
          filter: invert(0.5);
        }
      }

      .active_btn {
        padding-left: 36px;
        padding-top: 8px;
        padding-bottom: 8px;
        background-color: #1c466d;
        display: flex;
        gap: 10px;
        align-items: center;
        color: white;
        border: 1px solid rgba(40, 40, 40, 0.19);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 8px;
        width: 308px;

        .img {
          filter: invert(0);
        }
      }

    }

    .right {
      width: 552px;

      .challenge {
        margin-top: 15px;
        padding: 15px 24px 21px 24px;

        .sub_heading {
          margin-bottom: 8px;
          font-size: 20px;
        }

        background: #ffffff;
        border: 1px solid #cacaca;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.08);
        border-radius: 8px;
      }

      .solution {
        margin-top: 15px;
        padding: 15px 24px 21px 24px;

        .sub_heading {
          margin-bottom: 8px;
          color: var(--main_color);
          font-size: 20px;
        }

        background: #ffffff;
        border: 1px solid #cacaca;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.08);
        border-radius: 8px;
      }
    }
  }
}

@media (max-width: 950px) {
  .industryfields {
    padding: 40px 16px 10px;

    .highlighted_heading {
      font-weight: 700;
      font-size: 20px;
      line-height: 27px;
    }

    .lower {
      flex-direction: column;
      gap: 24px;

      .left {
        flex-direction: row;
        overflow: scroll;
        margin-bottom: 10px;

        .desc {
          font-weight: 700;
          font-size: 12px;
          line-height: 120%;
        }

        .sector {
          padding: 4px 8px;
          box-shadow: none;
          white-space: nowrap;
          width: fit-content;
          background-color: white;
          border-radius: 4px;

          .img {
            width: 16px;
            object-fit: contain;
          }
        }

        .active_btn {
          padding: 4px 8px;
          box-shadow: none;
          width: fit-content;
          white-space: nowrap;
          border-radius: 4px;

          .img {
            width: 16px;
            object-fit: contain;
          }
        }
      }

      .right {
        width: auto;

        .desc {
          font-weight: 400;
          font-size: 14px;
          line-height: 140%;
        }

        .challenge,
        .solution {
          padding: 15px 17px 15px 24px;

          .sub_heading {
            font-weight: 700;
            font-size: 16px;
            line-height: 139%;
          }

          p {
            font-weight: 400;
            font-size: 14px;
            line-height: 139%;
          }
        }
      }
    }
  }
}

.left::-webkit-scrollbar {
  display: none;
}