.ready {
  --primary_color: #fd464a;
  font-family: var(--font-manrope);
  background-color: black;
  padding: 64px 49px 60px 80px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  max-width: 1440px;

  @media (max-width: 950px) {
    display: flex;
    flex-direction: column;
    padding: 11px 16px;
  }

  .content {
    @media (max-width: 950px) {
      width: 100%;
      padding-bottom: 20px;
    }

    .text {
      width: 80%;
      justify-self: flex-start;
      font-family: var(--font-manrope);
      margin-bottom: 24px;

      @media (max-width: 950px) {
        width: auto;
      }

      .red {
        color: var(--primary_color);
      }

      .heading {
        line-height: 49px;
        letter-spacing: -0.025em;
        color: white;
        margin-bottom: 10px;

        @media (max-width: 950px) {
          font-weight: 700;
          font-size: 32px;
          line-height: 44px;
        }
      }

      .sub_heading {
        color: white;

        .colored {
          color: var(--primary_color);
        }

        @media (max-width: 950px) {
          font-size: 14px;
          font-weight: 700;
          line-height: 140%;
          /* 19.6px */
          letter-spacing: -0.35px;
        }
      }

      .line1 {
        color: #b9b9b9;

        @media (max-width: 950px) {}
      }

      .para2 {
        color: white;
        line-height: 36px;
        letter-spacing: -0.025em;
        margin-bottom: 52px;
        font-weight: 500;

        @media (max-width: 950px) {
          font-weight: 500;
          font-size: 14px;
          line-height: 140%;
          margin-bottom: 16px;
        }
      }
    }

    .Stats {
      display: flex;
      gap: 30px;
      padding-bottom: 40px;
      flex-wrap: wrap;

      @media (max-width: 950px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding-bottom: 0px;
      }

      .box {
        width: 160px;

        @media (max-width: 950px) {
          width: auto;
        }

        .title {
          color: var(--primary_color);
          line-height: 36px;
          letter-spacing: -0.025em;

          @media (max-width: 950px) {
            font-weight: 700;
            font-size: 24px;
            line-height: 120%;
          }
        }

        p {
          margin-top: 12px;
          color: white;

          @media (max-width: 950px) {
            margin-top: 5px;
            font-weight: 400;
            font-size: 14px;
            line-height: 140%;
          }
        }
      }
    }
  }

  .video_container {
    border-radius: 20px;
    width: 610px;
    position: relative;
    height: 295px;

    @media screen and (max-width: 950px) {
      height: 189px;
      width: 90%;
    }

    .ad {
      border-radius: 20px;
      height: 100%;
      width: 100%;
      object-fit: contain;
    }

    .play_btn {
      position: absolute;
      width: 48px;
      height: 48px;
      top: 50%;
      left: 50%;
      cursor: pointer;
      transform: translate(-50%, -50%);

      @media (max-width: 450px) {
        width: 11.67vw;
        height: 11.67vw;
      }
    }
  }
}

@media (min-width: 950px) {
  .search {
    display: none;
  }
}