.resources_container {
  display: flex;
  flex-direction: column;
  padding: 40px 80px;

  h4 {
    font-family: var(--font-inter);
    font-weight: 600;
    line-height: 31px;
    letter-spacing: -0.02em;
    text-align: left;
    color: #fb5741;
  }

  .blogs_cards {
    padding: 24px 0;
    display: flex;
    justify-content: space-between;
  }

  button {
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0em;
    padding: 13.5px 17px;
    border: none;
    border-radius: 4px;
    background-color: #fb5741;
    color: white;
    align-self: end;
  }
}
