.dropdown {
  .dropbtn {
    padding: 13.5px 12px;
    color: white;
    font-weight: bold;
    background-color: #fb5741;
    margin-bottom: 0px;
    display: flex;
    gap: 12.01px;

    @media (max-width: 950px) {
      padding: 7px 11px;
      border-radius: 4px;
      font-weight: 400;
      font-size: 12px;
    }
  }
}
@media (max-width: 950px) and (min-width: 550px) {
  .dropdown {
    .dropbtn {
      padding: 10px 20px;
      font-size: 18px;
      border-radius: 6px;
    }
  }
}
