.wrapper {
  background: #222222;
  position: fixed;
  bottom: 0;
  // padding: 25px 10px;
  min-width: 100vw;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 10000;
  // transition: all .6s;
  // bottom: -80px;
  opacity: 0;

  @media (min-width: 550px) {
    display: none;
  }

  .message {
    border-right: 1.5px solid #4F4F4F;
  }

  .message,
  .call {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 15px;
    padding: 25px 10px;
    justify-content: center;

    button {
      background: transparent;
      outline: none;
      border: none;
      color: white;
      display: flex;
      align-items: center;
      gap: 4px;
    }

    a {
      display: flex;
      align-items: center;
      gap: 4px;
    }
  }
}