.certified_wrapper {
  display: grid;
  grid-template-columns: 1.2fr 3fr;
  gap: 38px;
  background-color: #ffeeda;
  padding: 50px 80px;
  max-width: 1440px;
  margin: 0 auto;

  @media (max-width: 950px) {
    background-color: #ffeeda;
    display: flex;
    flex-direction: column;
    padding: 11px 16px;
    overflow-x: hidden;
  }
  @media (max-width: 550px) {
    gap: 24px;
  }

  .explore_courses {
    @media (max-width: 950px) {
      text-align: center;
    }

    .explore_heading {
      line-height: 36px;
      letter-spacing: 0.5%;

      @media (max-width: 950px) {
        line-height: normal;
        font-size: 20px;
        margin-top: 12px;
      }
    }

    .explore_subheading {
      font-size: 15px;
      padding: 24px 0px;

      @media (max-width: 950px) {
      }
    }

    .explore_btn {
      font-family: var(--font-manrope);
      font-size: 16px;
      font-weight: 600;
      line-height: 24px;
      color: #222222;
      background-color: transparent;
      border: 2px solid #252525;
      border-radius: 4px;
      padding: 11px 24px;

      @media (max-width: 950px) {
        width: 100%;
        justify-content: center;
        border: 3px solid #252525;
        font-weight: 800;
      }
    }
  }

  .cards_wrapper {
    display: flex;
    gap: 8px;
    margin-top: 20px;
    height: min-content;

    @media (max-width: 950px) {
      width: 82vw;
      margin: 0 auto;
      margin-top: 20px;
    }

    .card {
      display: flex;
      flex-direction: column;
      width: 33%;
      align-items: center;
      padding: 17px 10px 13px 10px;
      gap: 22px;
      background: #ffffff;
      border-radius: 8px;

      @media (max-width: 950px) {
        padding: 5px 45px;
        width: 100%;
      }

      .card_desc {
        text-align: center;
        font-size: 16px;
        line-height: 22px;
        letter-spacing: -3%;
        padding-top: 8px;
        color: #383838;
        font-weight: 400;
        @media (max-width: 550px) {
          font-size: 14px;
          line-height: 140%;
        }
      }
      transition: ease-in-out 0.3s;

      &:hover {
        box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.19);
        outline: 1px solid #fd464a;
      }
    }
  }
}

.explore_btn {
  font-family: var(--font-manrope);
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: #222222;
  background-color: transparent;
  border: 2px solid #252525;
  border-radius: 4px;
  padding: 11px 24px;

  @media (max-width: 950px) {
    width: 100%;
    justify-content: center;
    border: 3px solid #252525;
    font-weight: 800;
    margin-bottom: 20px;
  }
}

@media (max-width: 950px) and (min-width: 550px) {
  .certified_wrapper {
    gap: 17px;
    // max-width: 100%;
    .cards_wrapper {
      width: auto;
    }
  }
}
