.mentor_card {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 63.7%, #000000 100%);
  border-radius: 12px;
  height: 313px;
  width: 306px;

  @media (max-width: 950px) {
    // width: 30vw;
    // height: 313;
  }

  @media (max-width: 480px) {
    border-radius: 4px;
    width: 210px;
    height: 240px;
    // width: 178px;
    // width: 10vw;
    // height: 200px;
    // border: 1px red;
  }


  .mentor_img {
    position: relative;
    border-radius: 12px;
    z-index: -99;
    // height: 313;
    // width: 306px;
    object-fit: cover;

    @media (max-width: 950px) {
      // width: 42vw;
      // height: 44vh ;
    }

    @media (max-width: 480px) {
      border-radius: 4px;
      width: 210px;
      height: 240px;
      // width: 178px;
      // height: 200px;
    }
  }

  .mentor_text {
    position: absolute;
    bottom: 15%;
    color: white;
    width: 296px;
    left: 7%;
    right: 7%;
    padding-left: 10px;
    padding-right: 10px;

    @media (max-width: 480px) {
      width: 210px;
      padding-left: 0;
      padding-right: 20px;
    }

    .mentor_name {
      font-family: var(--font-manrope);
      font-size: 26px;
      font-weight: 700;
      line-height: 36px;
      letter-spacing: -3%;

      @media (max-width: 480px) {
        font-weight: 700;
        font-size: 16px;
      }
    }

    .mentor_position {
      font-size: 15px;
      color: white;

      line-height: 20.85px;
      letter-spacing: -3%;
      padding-top: 8px;

      @media (max-width: 480px) {
        // width: 210px;
        font-weight: 400;
        font-size: 12px;
        line-height: 139%;

        padding-top: 0;
      }
    }


    .hover_text {
      display: none;
      // @media (max-width: 450px) {
      //   display: none;
      // }
    }
  }

  &:hover {
    @media (min-width: 1000px) {
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.72), rgba(0, 0, 0, 0.72)),
        linear-gradient(180deg, rgba(0, 0, 0, 0) 63.7%, #000000 100%);
      border-radius: 12px;
    }

    // .mentor_position {
    //   width: 100%;
    // }

    .mentor_text {
      @media (min-width: 1000px) {
        // display: none
        top: 5%;

      }
    }

    .mentor_position {
      @media (min-width: 1000px) {
        padding-top: 0 !important;
      }
    }

    .hover_text {
      display: block;

      .mentor_about {
        font-size: 12px;
        width: 270px;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: -3%;
        padding-top: 13px;
        padding-bottom: 7px;
        color: white;

        // @media (max-width: 450px) {
        //   margin-left: 10px;
        //   display: none;
        // }
      }

      @media (max-width: 1000px) {
        display: none;
      }
    }


  }
}