.wrapper{
  max-width: 1440px;
  position: relative;
  height: 100%;
}

.frame {
  right: 80px;
  bottom: 15%;
  position: fixed;
  background: #f4fdf8;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  padding: 21px 16px;
  width: min-content;
  cursor: pointer;

  @media (min-width: 1440px) and ( max-width:2000px) {
    right: 14vw !important;
  }

  @media (min-width: 2000px) {
    right: 35vw;
  }

  button {
    a{
      text-decoration: none;
    }
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    padding: 14.5px 9.5px;
    width: max-content;
    background: #fb5741;
    border-radius: 8px;
    color: white;
    min-width: 190px;
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 950px) {
  .frame {
    display: none;
  }
}
