.question {
  width: 752px;
  cursor: pointer;
  display: flex;
  gap: 40px;
  border-top: 0.5px solid #adafae;
  border-bottom: 0.5px solid color(#adafae, 0.5);
  color: #181818;
  align-items: center;
  padding: 10px 0px;

  @media (max-width: 950px) {
    width: auto;
    border-top: 0.5px solid #adafae62;
    gap: 10px;
    padding: 15px 0px;
  }

  span {
    @media (max-width: 950px) {
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 120%;
    }
  }

  .img {
    width: 50px;
    height: 50px;
    background-color: #f5f5f5;
    padding: 17px;

    @media (max-width: 950px) {
      width: auto;
      height: auto;
      padding: 6px;
    }

    img {
      @media (max-width: 950px) {
        width: 7px;
        height: 7px;
      }
    }
  }
  button {
    border-radius: 100%;
  }
}
.ans_on {
  width: 752px;
  padding-left: 90px;
  margin-bottom: 20px;
}

@media (max-width: 950px) {
  .question {
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    letter-spacing: -0.01em;
  }
  .ans_on{
    width: 100%;
    padding-left: 30px;
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    letter-spacing: -0.01em;
  }
}
