.desktop_container{
    height: 97px;
    padding: 14px 24px;
    display: grid;
    gap: 51px;
    grid-template-columns: 85px 125px 114px 114px 114px;
    align-items: center;
    border-radius: 6px;
    border: 1px solid #dfdfdf;
    width: 811px;
    margin-top: 16px;
    @media (max-width: 950px) {
        display: none;
    }
}

.mobile_container{
    width: 100%;
    border: 1px solid #dfdfdf;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 16px;
    padding: 16px 16px 10px;
    .row{
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
    }
    @media (min-width: 951px) {
        display: none;
    }
}

