.newsletter_wrapper {
  display: flex;
  justify-content: center;
  // align-items: center;
  gap: 155px;
  max-width: 1440px;
  margin: 0 auto;

  @media (max-width: 950px) {
    flex-direction: column;
    gap: 20px;
    padding: 0 16px;
  }

  .email_signup {
    display: flex;
    flex-direction: column;
    gap: 18px;
    border: 1px solid #20484f;

    .email_input {
      height: 38px;
      display: flex;
      align-items: center;

      input {
        height: 38px;
        width: 236px;
        background-color: transparent;
        border: 1px solid #808080;
        border-radius: 6px 0px 0px 6px;
        padding: 7px;

        &::placeholder {
          font-family: var(--font-inter);
          color: #dedede;
          font-size: 15px;
          font-weight: 400;
          line-height: 21px;
          letter-spacing: -0.03em;
          text-align: left;
          // padding: 7px;
        }
      }

      button {
        height: 38px;

        border-radius: 0px 8px 8px 0;
        border: none;
        font-family: var(--font-inter);
        font-size: 14px;
        font-weight: 600;
        line-height: 17px;
        letter-spacing: 0em;
        text-align: left;
        color: black;
        padding: 9px 19.5px;
        background-color: #51b37f;

        @media (max-width: 950px) {
        }
      }
    }
  }

  .text {
    width: 42%;
    align-self: center;

    @media (max-width: 950px) {
      width: auto;
      text-align: center;
    }

    p {
      font-size: 15px;
      line-height: 20.85px;

      @media (max-width: 950px) {
        font-weight: 400;
        font-size: 14px;
        line-height: 140%;
      }
    }
  }
}

.email_signup_mobile {
  display: none;
  align-items: center;
  gap: 40px;
  border: 2px solid #20484f;
  border-radius: 6px;

  @media (max-width: 950px) {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 20px;
    width: 100%;
  }

  .email_input_mobile {
    height: 38px;
    display: flex;
    align-items: center;

    // width: 323px;

    @media (max-width: 950px) {
      background-color: transparent;
      border: 1px solid white;
      border-radius: 6px;
      width: 100%;
      height: auto;
      /* justify-content: end; */
      position: relative;
    }

    input {
      height: 38px;
      width: 236px;
      background-color: transparent;
      outline: none;
      border: 1px solid #808080;
      border-radius: 6px;

      @media (max-width: 950px) {
        height: auto;
        border: none;
        border-radius: 6px;
        height: 38px;
        color: #000;
        padding-left: 10px;
        width: 100%;
      }

      &::placeholder {
        font-family: var(--font-inter);
        font-size: 15px;
        font-weight: 400;
        line-height: 21px;
        letter-spacing: -0.03em;
        text-align: left;
        padding: 7px;
      }
    }

    button {
      height: 38px;
      //   width: 87px;
      border-radius: 0px 6px 6px 0;
      border: none;
      font-family: var(--font-inter);
      font-size: 14px;
      font-weight: 600;
      line-height: 17px;
      letter-spacing: 0em;
      text-align: left;
      color: white;
      padding: 10.5px 18.5px;
      background-color: #51b37f;

      @media (max-width: 950px) {
        height: 43px;
        align-self: center;
        position: absolute;
        right: -2px;
      }
    }
  }
}

@media (max-width: 950px) and (min-width: 550px) {
  .newsletter_wrapper {
    width: 80%;
    margin: auto;
  }
}
