.upskill_wrapper {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1440px;
  margin: 0 auto;

  padding: 60px 80px;
  background-color: #0e3b65;

  @media (max-width: 950px) {
    margin-top: 40px;
    padding: 11px 16px;
    display: flex;
    flex-direction: column;
  }

  .upskill_left {
    color: white;

    .upskill_heading {
      width: 90%;
      letter-spacing: -2.5%;

      @media (max-width: 950px) {
        width: auto;
        font-weight: 700;
        font-size: 20px;
        line-height: normal;
        text-align: center;
        margin-block: 20px;
      }
    }

    .upskill_desc {
      color: #e0e0e0;
      padding: 11px 0px 24px;
      font-size: 16px;

      @media (max-width: 950px) {
        text-align: center;
        font-weight: 400;
        font-size: 14px;
        line-height: 139%;
      }
    }

    .upskill_btn {
      font-weight: 600;
      line-height: 19px;
      background-color: #fb5741;
      padding: 13.5px 24px;
      color: white;

      @media (max-width: 950px) {
        width: 100%;
        padding: 15px 24px;
        border-radius: 4px;
        text-align: center;
        justify-content: center;
      }
    }
  }

  .icons_wrapper {
    place-items: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    row-gap: 28px;
    margin-left: 100px;

    @media (max-width: 950px) {
      margin-left: 0px;
      grid-template-columns: repeat(3, 1fr);
      margin-top: 25px;
      row-gap: 20px;
      // gap: 9px;
    }
    // @media (max-width: 400px) {
    //   margin-left: 0px;
    //   grid-template-columns: repeat(2, 1fr);
    //   margin-top: 25px;
    //   gap: 9px;
    // }

    .logo {
      width: 60px;
      height: auto;
      object-fit: contain;
    }
  }
}

@media (max-width: 950px) and (min-width: 550px) {
  .upskill_wrapper {
    .upskill_left {
      .upskill_desc {
        width: 80%;
        margin: auto;
      }
      .upskill_btn {
        width: 50%;
        margin: auto;
      }
    }
  }
}
