.ReferAFriend {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  padding: 42px 80px 202.71px 80px;
  background-color: black;
  gap: 352px;
  height: fit-content;

  .left {
    .tag {
      background-color: var(--main_color);
      padding: 5px 9px;
      width: fit-content;
      background: #fb5741;
      border-radius: 6px;
      color: white;
      margin-bottom: 20px;
    }

    .line1 {
      line-height: 112.6%;
      letter-spacing: -0.03em;
      margin-bottom: 20px;
      color: white;
      line-height: 112.6%;
    }

    .highlighted_heading {
      line-height: 112.6%;
      letter-spacing: -0.03em;
      color: white;
      line-height: 112.6%;

      span {
        color: #fb5741;
      }
    }
  }
}

@media (max-width: 950px) {
  .ReferAFriend {
    padding: 11px 24px 30px;
    flex-direction: column-reverse;
    gap: 10px;

    img {
      width: 100%;
    }

    .left {
      .tag {
        font-weight: 500;
        font-size: 12px;
        line-height: 139%;
        letter-spacing: -0.03em;
        width: fit-content;
      }

      .highlighted_heading {
        font-weight: 500;
        font-size: 23px;
        line-height: 112.6%;
        letter-spacing: -0.03em;

        span {
          font-size: 30px;
        }
      }
    }
  }
}