.upskill_wrapper {
  display: flex;
  // margin-bottom:56px;
  // align-items: center;
  width: 100vw;
  // height: 100%;

  @media (max-width: 950px) {
    padding: 40px 16px;
    display: block;
    background-color: rgb(25, 25, 25);
    padding-bottom: 46px;
  }

  .left {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin: 56px 0;

    @media (max-width: 950px) {
      margin: 0;
    }
  }

  .upskill_left {
    max-width: 720px;
    flex: 1;
    color: black;
    background-color: white;
    padding-left: 80px;
    // padding-top: 60px;
    // padding-right: 24.1px;
    // max-width: 623.59px;

    @media (max-width: 950px) {
      padding: 0;
      width: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: #191919;
      color: white;
    }

    .upskill_heading {
      width: 90%;
      letter-spacing: -2.5%;

      @media (max-width: 950px) {
        width: 95%;
        margin: auto;
        font-weight: 700;
        font-size: 20px;
        line-height: 126.6%;
        text-align: center;
      }
    }

    .upskill_desc {
      color: black;
      padding: 11px 0px 24px;
      max-width: 603px;

      @media (max-width: 950px) {
        width: 95%;
        margin: auto;
        padding: 0;
        color: white;
        font-weight: 400;
        font-size: 14px;
        line-height: 139%;
        padding-block: 20px;
        text-align: center;
      }
    }

    a {
      width: 100%;
    }

    .upskill_btn {
      font-weight: 600;
      line-height: 19px;
      background-color: #fb5741;
      padding: 13.5px 24px;
      color: white;

      @media (max-width: 950px) {
        border-radius: 4px;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 140%;
        justify-content: center;
        width: 100%;
        padding: 11px 24px;
      }
    }
  }

  .right {
    width: 100%;
    background-color: #191919;
    display: flex;
    align-items: center;
  }

  .icons_wrapper {
    max-width: 500px;
    padding-left: 20px;
    place-items: center;
    flex: 1;
    justify-content: center;
    align-items: center;
    display: grid;
    column-gap: 20px;
    row-gap: 12px;
    grid-template-columns: repeat(4, 1fr);
    background-color: #191919;

    @media (max-width: 950px) {
      max-width: 100%;
      grid-template-columns: repeat(3, 1fr);
      width: auto;
      row-gap: 16px;
      column-gap: 19px;
      margin-top: 30px;
    }

    .logo {
      width: 60px;
      height: auto;
      object-fit: contain;

      // @media (max-width: 950px) {
      //   width: 80%;
      // }
    }
  }
}

@media (max-width: 950px) and (min-width: 550px) {
  .upskill_wrapper {
    width: 80%;
    margin: auto;
    box-shadow: -200px 0px 0px rgb(25, 25, 25), 200px 0px 0px rgb(25, 25, 25);
  }
}