.Mission {
  padding: 60px 80px;
  display: grid;
  grid-template-columns: 1.2fr 2fr;
  gap: 30px;
  background-color: #f1f0f0;
  max-width: 1440px;
  margin: 0 auto;
  // border: 1px solid red;

  @media (max-width: 950px) {
    padding: 30px 16px;
    display: flex;
    flex-direction: column-reverse;
    background-color: white;
  }

  img {
    @media (max-width: 950px) {
      align-self: center;
    }
  }

  .right {
    width: 100%;

    .para {
      @media (max-width: 950px) {
        align-self: center;
      }
    }

    @media (max-width: 950px) {
      display: flex;
      flex-direction: column;
    }

    .color {
      color: #fb5741;
    }
    .heading {
      font-weight: 600;
      line-height: 139%;
      padding: 2px 14px;
      background: #fff9f1;
      border-radius: 6px;
      width: fit-content;
      color: var(--main_color);

      @media (max-width: 950px) {
        font-weight: 600;
        font-size: 12px;
        line-height: 139%;
        text-align: center;
      }
    }
    .highlighted_heading {
      letter-spacing: -0.03em;
      line-height: 132%;
      padding-top: 8px;
      padding-bottom: 15px;
      font-weight: 500;

      @media (max-width: 950px) {
        font-weight: 600;
        font-size: 20px;
        line-height: 139%;
        text-align: center;
      }
    }

    .info {
      font-weight: 400;
      font-size: 15px;
      line-height: 139%;
      padding-bottom: 24px;

      @media (max-width: 950px) {
        font-weight: 400;
        font-size: 14px;
        line-height: 140%;
        text-align: center;
      }
    }
    .points {
      display: flex;
      flex-direction: column;
      gap: 16px;
      padding-right: 96px;

      @media (max-width: 950px) {
        padding: 0;
      }

      .point {
        display: flex;
        gap: 13px;
        align-items: center;

        @media (max-width: 950px) {
        }

        .bold {
          @media (max-width: 950px) {
            font-weight: 700;
          }
        }

        .check {
          background-color: #fb5741;
          border-radius: 6.54545px;
          height: 24px;
          width: 24px;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-shrink: 0;

          @media (max-width: 950px) {
            border-radius: 4px;
            height: 16px;
            width: 15px;
            // align-self: baseline;
          }
        }
        .check_mark {
          background-color: #fb5741;
        }
        p {
          line-height: 120%;
          letter-spacing: -0.002em;
          color: #363636;
          font-weight: 500;

          @media (max-width: 950px) {
            font-weight: 500;
            font-size: 14px;
            line-height: 120%;
          }
        }
      }
    }
  }
}

@media (max-width: 950px) and (min-width: 550px) {
  .Mission {
    .right {
      width: 85%;
      margin: auto;
      .para {
        .heading {
          padding: 2px 20px;
          font-size: 19px;
        }
      }
    }
  }
}
