.photos {
  display: flex;
  gap: 17px;
  justify-content: center;
  align-items: center;
  background-color: #f4fdf8;
  padding: 32px 16px;
  overflow: hidden;
  max-width: 1443px;
  margin: auto;

  @media (max-width: 950px) {
    padding: 32px 16px;
    display: block;
  }

  .photos_1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    row-gap: 18px;

    @media (max-width: 950px) {
      row-gap: 22px;
      margin-bottom: 10px;
    }

    .photo {
      width: auto;
      height: auto;
      position: relative;
      border-radius: 10px;

      img {
        border-radius: 10px;
        width: 100%;
        height: 100%;
        @media (max-width: 950px) {
          width: 100%;
          height: 100%;
        }
      }

      @media (max-width: 950px) {
        width: auto;
        height: auto;
      }

      &:nth-child(even) {
        .orange {
          background-color: rgba(251, 87, 65, 0.64);
          position: absolute;
          top: 0;
          width: 100%;
          height: 100%;
          border-radius: 10px;
          transition: background-color ease-in 0.3s;
        }
      }

      &:nth-child(odd) {
        .orange {
          position: absolute;
          top: 0;
          width: 100%;
          height: 100%;
          border-radius: 10px;
          background-color: transparent;
          transition: background-color ease-in 0.3s;
        }
      }
    }

    &:hover {
      .photo:nth-child(odd) {
        .orange {
          background-color: rgba(251, 87, 65, 0.64);
        }
      }

      .photo:nth-child(even) {
        .orange {
          background-color: transparent;
        }
      }
    }

    // .photo:nth-child(even) {
    //   .orange {
    //     width: 210px;
    //     height: 200px;
    //     position: absolute;
    //     top: 0;
    //     background: linear-gradient(
    //       0deg,
    //       rgba(251, 87, 65, 0.64),
    //       rgba(251, 87, 65, 0.64)
    //     );
    //     border-radius: 10px;
    //     @media (max-width: 950px) {
    //       width: 100%;
    //       height: 100%;
    //     }
    //   }
    // }

    // &:hover {
    //   .photo:nth-child(odd) {
    //     .orange {
    //       width: 210px;
    //       height: 200px;
    //       position: absolute;
    //       top: 0;
    //       background: linear-gradient(
    //         0deg,
    //         rgba(251, 87, 65, 0.64),
    //         rgba(251, 87, 65, 0.64)
    //       );
    //       border-radius: 10px;

    //       @media (max-width: 950px) {
    //         width: 100%;
    //         height: 100%;
    //       }
    //     }
    //   }

    //   .photo:nth-child(even) {
    //     .orange {
    //       z-index: -99;
    //     }
    //   }
    // }
  }
}

@media (max-width: 550px) {
  .photos {
    .photos_1 {
      gap: 6.65px;
      margin-bottom: 6px;
    }
  }
}