.Vision {
  padding: 60px 80px;
  display: flex;
  gap: 30px;
  max-width: 1440px;
  margin: 0 auto;
  // border: 1px solid red;

  @media (max-width: 950px) {
    padding: 30px 16px;
    flex-direction: column;
    // height: 540px;
  }

  .left {
    width: 65%;

    @media (max-width: 950px) {
      width: auto;
      text-align: center;
    }

    .heading {
      width: 100px;
      letter-spacing: -0.03em;

      font-weight: 600;
      line-height: 139%;
      padding: 2px 14px;
      background: #fff9f1;
      border-radius: 6px;
      color: #fb614c;

      @media (max-width: 950px) {
        margin: auto;
        font-weight: 600;
        font-size: 12px;
        line-height: 139%;
      }
    }
    span{
      color: #fb5741;
    }
    .highlighted_heading {
      letter-spacing: -0.03em;
      line-height: 132%;
      padding-top: 8px;
      padding-bottom: 15px;
      color: #222222;
      font-weight: 500;

      @media (max-width: 950px) {
        font-weight: 600;
        font-size: 20px;
        line-height: 139%;
      }
    }
    .info {
      font-weight: 400;
      font-size: 15px;
      line-height: 139%;

      @media (max-width: 950px) {
        font-weight: 400;
        font-size: 14px;
        line-height: 140%;
      }
    }
  }

  img {
    @media (max-width: 950px) {
      align-self: center;
    }
  }
}

@media (max-width: 950px) and (min-width: 550px) {
  .Vision {
    width: 85%;
    margin: auto;
    .left {
      .heading {
        width: fit-content;
        padding: 2px 20px;
        font-size: 19px;
      }
    }
  }
}
