.Attend {
  background-color: #27282c;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 40px 81px;
  max-width: 1440px;
  margin: 0 auto;

  @media (max-width: 950px) {
    display: flex;
    flex-direction: column;
    padding: 40px 16px;
    // margin-top: 30px;
    padding-top: 46px;
  }

  .left {
    color: white;
    // text-align: center;s

    .heading {
      @media (max-width: 950px) {
        font-weight: 700;
        font-size: 20px;
        line-height: 27px;
        text-align: center;
      }
    }
    p {
      color: white;
      font-size: 15px;
      font-weight: 400;
      line-height: 150%;
      width: 55%;
      margin-top: 21px;
      margin-bottom: 23px;

      @media (max-width: 950px) {
        width: auto;
        font-weight: 400;
        font-size: 14px;
        line-height: 140%;
        text-align: center;
      }
    }
    .register_button {
      padding: 14px 36px 15px 23px;
      background-color: #fb5741;
      color: white;

      @media (max-width: 950px) {
        font-weight: 700;
      }
    }
  }
  .right {
    .card_section {
      width: 85%;

      @media (max-width: 950px) {
        width: auto;
      }

      .cards {
        display: flex;
        flex-wrap: wrap;
        row-gap: 16px;
        column-gap: 16px;

        @media (max-width: 950px) {
          justify-content: center;
        }

        .card {
          font-weight: 700;
          font-size: 15px;
          line-height: 139%;
          letter-spacing: -0.03em;

          color: #27282c;
          background: #ffffff;
          border-radius: 8px;
          padding: 10px 12px;

          @media (max-width: 950px) {
          }
        }
      }
    }
  }
}

.register_button {
  padding: 14px 36px 15px 23px;
  background-color: #fb5741;
  color: white;

  @media (max-width: 950px) {
    width: 100%;
    border-radius: 4px;
    justify-content: center;
    margin-top: 20px;
    font-weight: 500;
  }
}
