.CareerPath {
  padding: 40px 80px;
  background-color: #f4fdf8;
  color: #181818;
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1440px;
  margin: 0 auto;

  @media (max-width: 950px) {
    padding: 30px 16px;
    display: flex;
    flex-direction: column;
  }

  .left {
    .title {
      color: #fb5741;

      @media (max-width: 950px) {
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 120%;
        width: auto;
        text-align: center;
      }
    }
    .text {
      width: 100%;

      @media (max-width: 950px) {
        width: auto;
      }
    }
    .heading {
      line-height: 36px;
      letter-spacing: -0.025em;
      margin-bottom: 24px;

      @media (max-width: 950px) {
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 27px;
        text-align: center;
      }
    }
    p {
      font-size: 15px;
      width: 95%;

      @media (max-width: 950px) {
        font-weight: 400;
        font-size: 14px;
        line-height: 140%;
        width: auto;
        text-align: center;
      }
    }

    .path_list {
      margin-top: 24px;

      @media (max-width: 950px) {
      }

      .path {
        display: flex;
        align-items: center;
        gap: 13px;
        padding-bottom: 10px;

        @media (max-width: 950px) {
        }

        .check {
          background-color: black;
          border-radius: 6.54545px;
          height: 24px;
          width: 24px;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-shrink: 0;

          @media (max-width: 950px) {
          }
        }

        p {
          font-size: 15px;
          line-height: 21px;
          letter-spacing: 0.5%;

          @media (max-width: 950px) {
          }
        }
      }
      .button {
        font-weight: bold;
        padding: 14px 24px;
        background-color: #fb5741;
        width: max-content;
        font-weight: 600;
        border-radius: 5px;
        color: white;
        margin-top: 24px;
        cursor: pointer;

        @media (max-width: 950px) {
        }
      }
    }
  }
  .right {
    place-self: center;
    // padding-left: 20px;
    width: 100%;
    margin-left: 40px;
    img{
      width: 100%;
    }

    @media (max-width: 950px) {
      margin: 0;
    }

    img {
      @media (max-width: 950px) {
        width: 100%;
        height: auto;
      }
    }
  }
}
