.Earn {
  max-width: 1440px;
  margin: 0 auto;
  background: #f3f3f3;
  padding: 56px 80px;

  @media (max-width: 950px) {
    display: flex;
    flex-direction: column;
    padding: 11px 16px;
    padding-bottom: 50px;
  }

  .heading {
    @media (max-width: 950px) {
      text-align: center;
      padding-top: 20px;
    }
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 33px;
    column-gap: 28px;
    margin-top: 36px;

    @media (max-width: 950px) {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    .card {
      font-size: 16px;
      background: #ffffff;
      box-shadow: 0px 3px 12px rgba(75, 75, 75, 0.08);
      border-radius: 8px;
      padding: 16px 24px;
      display: flex;
      justify-content: flex-start;
      gap: 16px;
      align-items: flex-start;

      @media (max-width: 950px) {
        border-radius: 4px;
        gap: 10px;
        align-items: center;
        padding: 16px 14px;
      }

      .img {
        @media (max-width: 950px) {
          display: flex;
          width: 40px;
          // flex-basis: 20%;
        }
      }
    }

    img {
      @media (max-width: 950px) {
        width: 100%;
      }
    }

    .doc_img {
      img {
        @media (max-width: 950px) {
          width: 80%;
        }
      }

      .content {
        @media (max-width: 950px) {
          flex-basis: 80%;
        }

        .highlighted_heading {
          color: #383838;
          font-weight: 500;

          @media (max-width: 950px) {
            font-weight: 500;
            font-size: 14px;
            line-height: 133.5%;
          }
        }
        .orange {
          color: #fb5741;
        }
      }
    }
  }
}

.content {
  @media (max-width: 950px) {
    flex-basis: 80%;
  }

  .highlighted_heading {
    color: #383838;
    font-weight: 500;

    @media (max-width: 950px) {
      font-weight: 500;
      font-size: 14px;
      line-height: 133.5%;
    }
  }
  .orange {
    color: #fb5741;
  }
}
