.hero {
  display: grid;
  grid-template-columns: 1.75fr 1fr;

  padding-left: 80px;
  padding-right: 80px;
  max-width: 1440px;
  margin: 0 auto;

  @media (max-width: 950px) {
    padding: 13px 16px;
    display: flex;
    flex-direction: column;
  }

  .hero_left {

    // padding-right: 66.88px;
    // margin-right: 36px;
    @media (min-width: 951px) {
      .mobile {
        display: none !important;
      }
    }

    @media (max-width: 950px) {
      padding: 0;
      margin: 0;

      .desktop {
        display: none !important;
      }
    }

    .hero_main {
      .hero_title {
        font-family: var(--font-manrope);
        font-style: normal;
        font-weight: 500;
        font-size: 36px;
        width: 70%;
        line-height: 139%;
        letter-spacing: -0.03em;

        @media (max-width: 950px) {
          font-weight: 600;
          font-size: 24px;
          line-height: 120%;
        }
      }

      .hero_content {
        width: 92%;
        padding-top: 16px;
        letter-spacing: -0.03em;

        color: #383838;

        @media (max-width: 950px) {
          font-weight: 500;
          font-size: 14px;
          line-height: 140%;
          width: auto;
          height: auto;
          margin-bottom: 20px;
        }
      }

      // .hero_pts_wrapper {
      //   display: flex;
      //   align-items: flex-start;
      //   width: 92%;
      //   gap: 24px;
      //   justify-content: space-between;
      //   padding-top: 16px;

      //   @media (max-width: 950px) {
      //     display: block;
      //     width: 100%;
      //   }
      // }

      .hero_pts {
        padding-top: 16px;
        width: 92%;

        @media (max-width: 950px) {
          width: 100%;
        }

        span {
          display: flex;
          align-items: center;
          font-weight: 500;
          font-size: 15px;
          line-height: 139%;
          letter-spacing: -0.03em;
          color: #383838;
          padding-bottom: 12px;
        }

        .icon {
          margin-right: 8px;
          margin-left: 8px;
          float: left;
          align-items: center;
        }
      }

      .btn_wrapper {
        display: flex;
        width: 92%;
        gap: 24px;
        align-items: center;
        justify-content: space-between;
        padding-top: 16px;

        .early_bird {
          display: flex;
          flex-direction: column;
          gap: 12px;

          .startingPrices {

            .discount_price {
              color: #FB5741;
              font-weight: 600;
              font-size: 24px;
            }

            .price {
              color: #383838;
              padding-right: 8px;
            }

            .strikeOut {
              text-decoration: line-through;
              font-weight: 700;
              font-size: 20px;
              line-height: 139%;
            }

            .highlighted {
              font-size: 36px;
              font-family: var(--font-manrope);
            }
          }

          button {
            background-color: var(--main_color);
            color: white;
            padding: 13.5px 15px;
            font-weight: 600;
          }
        }
      }

    }

    .img_wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      gap: 16px;

      @media (max-width: 950px) {
        flex-wrap: nowrap;
      }

      img {
        height: 100%;
        object-fit: contain;
        max-height: 100px;

        @media (max-width: 950px) {
          max-height: 75px;
          width: 100%;
        }
      }

    }

    .rating_section {
      padding-top: 28px;
      padding-right: 32px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      @media (max-width: 950px) {
        flex-direction: column;
        gap: 20px;
        padding-right: 0;
      }

      .img_wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 16px;

        @media (max-width: 950px) {
          flex-wrap: nowrap;
        }

        img {
          height: 100%;
          object-fit: contain;
          max-height: 100px;

          @media (max-width: 950px) {
            max-height: 75px;
            width: 100%;
          }
        }

        // padding-bottom: 40px;
        // border: 1px solid red;
      }
    }
  }

  .right {
    margin-top: 59px;
  }
}

@media (max-width: 950px) {
  .img_wrapper {
    display: flex;
    align-items: center;
    padding-bottom: 40px;
    // border: 1px solid red;
  }
}

@media (max-width: 950px) and (min-width: 550px) {}