.InteractiveLearning {
  text-align: center;
  padding: 0px 271px;
  padding-top: 60px;
  padding-bottom: 40px;
  max-width: 1440px;
  margin: 0 auto;

  @media (max-width: 950px) {
    padding: 30px 11px;
  }
  .heading {
    line-height: 100.8%;

    @media (max-width: 950px) {
      font-weight: 700;
      font-size: 20px;
      line-height: 27px;
    }
  }
  .sub_heading {
    color: #fb5741;
    line-height: 100.8%;
    padding: 16px 0px;
    font-family: var(--font-manrope);

    @media (max-width: 950px) {
      font-weight: 600;
      font-size: 16px;
      line-height: 22px;
      padding: 7px 0;
    }
  }
  p {
    line-height: 140%;
    width: 95%;

    @media (max-width: 950px) {
      font-weight: 400;
      font-size: 14px;
      line-height: 140%;
      width: auto;
    }
  }
}

@media (max-width: 950px) and (min-width: 550px) {
  .InteractiveLearning {
    padding: 40px 11px;
    .heading {
      font-size: 26px;
    }
    p {
      font-size: 17px;
    }
  }
}
