.benefits_wrapper {
  padding: 0px 80px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1440px;
  margin: 0 auto;
  background-color: #fff9f1;

  @media (max-width: 950px) {
    padding: 11px 16px;
    display: flex;
    flex-flow: column;
  }

  .content {
    padding: 55px 0px;

    @media (max-width: 950px) {
      padding-top: 20px;
    }

    .heading {
      color: #222;
      font-weight: 800;

      @media (max-width: 950px) {
        text-align: center;
      }
    }

    .benefits_list {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-columns: auto auto;
      padding-top: 34px;
      row-gap: 32px;
      column-gap: 41px;
      @media (max-width: 550px) {
        row-gap: 24px;
        column-gap: 30px;
      }

      .benefit {
        display: flex;
        gap: 13px;

        .check {
          height: 24px;
          width: 24px;
          border-radius: 6.54545px;
          flex-shrink: 0;
        }

        .text {
          display: flex;
          flex-wrap: wrap;
          gap: 2px;
          @media (max-width: 600px) {
            flex-direction: column;
          }

          .key,
          .value {
            font-size: 15px;
            line-height: 21px;
            letter-spacing: 0.5%;
          }

          .key {
            font-weight: 700;
          }

          .fontKey {
            font-size: 15px;
            line-height: 21px;
            letter-spacing: 0.5%;
            font-weight: 500;
          }
        }
      }
    }
  }

  .chart {
    // place-self: center;
    min-height: 420px;
    display: flex;
    justify-content: center;
    height: 100%;
    // border: 1px solid red;

    @media (max-width: 950px) {
      display: none;
    }
  }
}