.learning_goals {
  padding: 40px 80px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  position: relative;
  margin: 0 auto;
  max-width: 1440px;
  // z-index: 1;

  @media (max-width: 950px) {
    display: flex;
    padding: 20px 16px;
    flex-direction: column;
  }

  .content {
    .heading {
      color: #222;

      @media (max-width: 950px) {
        font-weight: 700;
        font-size: 20px;
        line-height: 27px;
        text-align: center;
      }
    }
    .goals_list {
      display: grid;
      grid-template-columns: auto auto;
      padding: 24px 11px 8px;
      row-gap: 42.5px;
      column-gap: 44px;

      @media (max-width: 950px) {
        display: flex;
        flex-direction: column;
        padding: 35px 0;
        gap: 15px;
      }

      .goal {
        display: flex;
        align-items: center;

        gap: 13px;

        @media (max-width: 950px) {
          align-items: baseline;
        }

        .check {
          background-color: #fb5741;
          border-radius: 6.54545px;
          height: 24px;
          width: 24px;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-shrink: 0;

          @media (max-width: 950px) {
            background-color: #fb5741;
            border-radius: 4px;
            height: 12px;
            width: 12px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-shrink: 0;
          }
        }

        .point {
          font-size: 15px;
          line-height: 21px;
          letter-spacing: 0.5%;
          width: 80%;
          color: #383838;

          @media (max-width: 950px) {
            font-weight: 400;
            font-size: 14px;
            line-height: 140%;
            width: auto;
          }
        }
      }
    }
  }

  .rocket {
    position: absolute;
    bottom: -15%;
    right: 10%;

    animation: rocket 5s infinite;
    // z-index: -9;
  }
}

@keyframes rocket {
  from {
    transform: translate(0%);
  }
  to {
    transform: translateY(-230%);
  }
}
