.mini_nav::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

.container{
  height: 100px;
  padding-top: 47px;
  padding-bottom: 14px;
  @media (max-width: 950px) {
    padding: 0;
    height: 70px;
  }
  .wrapper{
    background-color: #fff;
    top: 0;
    position: relative;
    width: 100%;
    // z-index: 9998;
  }
}

.mini_nav {
  max-width: 1440px;
  background-color: #fff;
  margin: 0 auto;
  padding-bottom: 10px;
  padding-top: 10px;

  @media (max-width: 950px) {
    overflow-x: scroll;
    padding: 0;
  }

  .btns {
    width: 100%;
    // gap: 26px;
    display: flex;
    justify-content: flex-start;
    // margin-top: 47.5px;
    font-size: 18px;
    line-height: 22px;
    padding-left: 80px;

    @media (max-width: 950px) {
      padding: 11px 16px;
      margin: 0;
      margin-top: 17.5px;
      margin-left: 16px;
      align-items: center;
      padding-inline: 2px;
    }

    :first-child {
      padding-left: 0;
    }
    :last-child {
      padding-right: 12px;
    }

    .active_btn {
      color: #fb614c;
      font-weight: 700;
      border-bottom: 1px solid #fb614c;
      padding-bottom: 8.5px;

      @media (max-width: 950px) {
        font-weight: 800;
        font-size: 14px;
        line-height: 139%;
        border-bottom: 3px solid #fb614c;
        min-width: fit-content;
        padding-inline: 2px;
      }
    }
    button {
      background: #fff9f1;
      cursor: pointer;
      color: #383838;
      list-style: none;
      background-color: transparent;
      border-radius: 0px;
      border-bottom: 1px solid #cccfcf;
      width: fit-content;
      height: 100%;
      letter-spacing: -2.5%;
      font-size: 18px;
      padding: 0 13px 8.5px 13px;

      @media (max-width: 950px) {
        font-size: 14px;
        line-height: 139%;
        height: auto;
        justify-content: center;
        min-width: fit-content;
      }
    }
  }
}

.mini {
  // margin: 0 auto;
  background: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  width: 100%;

  .show {
    width: fit-content;
    max-width: 1440px;
    background: #fff;
    border-bottom: none;
    padding-bottom: 6px;
    width: 100%;

    .btns {
      margin-top: 12px;
    }
  }
}

@media (max-width: 950px) and (min-width: 550px) {
  .mini_nav {
    .active_btn {
      font-size: 16px;
    }
    .btns {
      button {
        font-size: 16px;
      }
    }
  }
}
