.Benefits {
  padding: 40px 92px;
  //   display: flex;
  //   gap: 180px;
  min-height: 300px;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  max-width: 1440px;
  margin: 0 auto;

  @media (max-width: 950px) {
    display: flex;
    flex-direction: column;
    padding: 11px 16px;
    background: #f1f0f0;
  }

  .left {
    display: flex;
    flex-direction: column;
    // display: grid;

    @media (max-width: 950px) {
      flex-direction: row;
      padding-block: 10px;
      padding-bottom: 30px;
    }

    gap: 24px;
    .title_1 {
      width: 215px;
      background: #0e3b65;
      padding: 13px 16px;
      color: white;
      font-weight: 600;
      line-height: 19px;
      align-items: center;

      @media (max-width: 950px) {
        font-size: 12px;
        min-height: 46px;
        background: #0e3b65;
        border-radius: 4px;
        justify-content: center;
        padding: 13px 13px 16px;
      }
    }
    .title_2 {
      width: 215px;
      background: #f6f6f6;
      line-height: 19px;
      color: #383838;
      padding: 13px 16px;
      border: 1px solid rgba(32, 72, 79, 0.1);
      border-radius: 8px;
      font-weight: 600;
      align-items: center;

      @media (max-width: 950px) {
        width: 215px;
        min-height: 46px;
        font-size: 12px;
        border-radius: 4px;
        justify-content: center;
        padding: 13px 13px 16px;
      }
    }
  }
  .cards {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    column-gap: 92px;
    row-gap: 51px;

    @media (max-width: 950px) {
      display: flex;
      flex-direction: column;
      gap: 20px;
      padding-bottom: 30px;
    }

    .card {
      display: flex;
      align-items: center;
      gap: 29px;
      color: #666666;
      font-weight: 600;
      font-size: 15px;
      // justify-content: center;
      .text {
        width: 219px;

        @media (max-width: 950px) {
          font-weight: 400;
          font-size: 14px;
          line-height: 17px;
        }
      }
    }
  }
}

@media (max-width: 950px) and (min-width: 550px) {
  .Benefits {
    .left {
      .title_1,
      .title_2 {
        width: 50%;
      }
    }
    .cards {
      .card {
        .text {
          width: 100%;
        }
      }
    }
  }
}
