.dd_wrapper {
  // position: relative;
  width: 100%;

  .dd_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0.7vw;

    cursor: pointer;


    font-family: inherit;

    .arrow {
    //   width: 1.1vw;
    //   aspect-ratio: 1/1;
      position: relative;
      width: 0.7vw;
      height: 0.35vw;
    }
  }

  .dd_list {
    // margin-top: 0.55vw;
    border: 0.07vw solid #adafae;
    border-radius: 0.27vw;
    position: absolute;
    width: 100%;
    top: 65px;
    left: 0;
    background: #ffffff;
    list-style: none;

    .dd_list_item{
      width: 100%;
      padding: 10px 10px;
      border-bottom: 1px solid #adafae;
      overflow: hidden;
      text-overflow: ellipsis;
      cursor: pointer;

      &:hover{
        background: #f9f9f9;
      }
    }
  }
}
