.join_team_form {
  width: 60.1vw;
  height: 55.7vw;
  background: #ffffff;
  border-radius: 0.83vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 3.4vw 0px 6.24vw 0px;

  h2 {
    font-family: var(--open_sans);
    font-style: normal;
    font-weight: 800;
    font-size: 2.77vw;
    line-height: 120%;
    margin-bottom: 3.60vw;
    /* identical to box height, or 48px */

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.02em;

    color: #000000;
  }

  form{
    display: flex;
    flex-direction: column;
    width: 37.7vw;
    gap: 1.11vw;

    .button{
        margin-top: 1.11vw;
    }
  }
}
