.Credentials {
  // max-width: 1440px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;

  .left_container {
    background-color: #0e3b65;
    display: flex;
    justify-content: flex-end;

    @media (max-width: 950px) {
      justify-content: center;
    }

  }

  .left {
    padding: 33px 63px 37px 81px;
    max-width: 720px;

    .left_heading {
      font-family: var(--font-manrope);
      color: white;
      margin-bottom: 24px;
      font-weight: 500;
    }

    .logos {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      justify-content: space-evenly;
      row-gap: 36px;
      column-gap: 20px;
  

      .logo_section {
        display: flex;
        flex-direction: column;
      }

      img {
        object-fit: contain;
      }

      .txt {
        color: white;
      }
    }
  }

  .right_container {
    background-color: #191919;

    @media (max-width: 950px) {
      display: flex;
      justify-content: center;
    }
  }

  .right {
    padding-left: 80px;
    padding-top: 35px;
    padding-right: 80px;
    padding-bottom: 35px;
    max-width: 720px;

    .right_heading {
      font-family: var(--font-manrope);
      color: white;
      margin-bottom: 30px;
      font-weight: 500;
    }

    .companies {
      place-items: center;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 20px;

      @media (max-width: 950px) {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-top: 25px;
        gap: 16px;
      }

      img {
        height: auto;
        // max-height: 30px;
        width: 60px;
        // aspect-ratio: 3/2;
        object-fit: contain;
      }
    }

    // .companies {
    //   display: grid;
    //   grid-template-columns: repeat(4, 1fr);
    //   grid-template-rows: 29px 29px;
    //   column-gap: 39px;
    //   row-gap: 53px;
    //   align-items: center;
    //   justify-content: center;

    //   img {
    //   aspect-ratio: 3/2;
    //     height: auto;
    //     object-fit: contain;
    //   }
    // }

  }
}

@media (max-width: 950px) {
  .Credentials {
    display: flex;
    flex-direction: column;

    .left {
      padding: 21px 16px;

      .left_heading {
        font-weight: 700;
        font-size: 20px;
        line-height: 100.8%;
        letter-spacing: 0.005em;
      }

      .logos {
        grid-template-columns: repeat(3, 1fr);

        img {
          object-fit: contain;
          width: 100%;
        }

        p {
          font-weight: 400;
          font-size: 12px;
          line-height: 120.8%;
          letter-spacing: 0.005em;
          text-align: center;
        }
      }
    }

    .right_wrapper {
      width: 100%;
    }

    .right {
      padding: 21px 16px;
      width: 100%;

      .right_heading {
        font-weight: 700;
        font-size: 20px;
        line-height: 100.8%;
        letter-spacing: 0.005em;
        margin-bottom: 30px;
      }
    }
  }
}