.Discount {
  display: flex;
  flex-direction: column;
  gap: 24px;
  // margin-top: 150px ;
  .discountCard {
    width: 351px;
    min-height: 195px;
    border-radius: 8px;
    background-color: black;
    position: relative;
    padding: 25.4px 30px 80px 30.2px;

    .discountHeading{
      color:#fb5741
    }
    h6,
    .discountText {
      font-weight: 600;
      font-size: 14px;
      line-height: 17px;
    }
    h6 {
      color: #fb5741;
    }
    .discountText {
      color: white;
      font-weight: 400;
      padding-top: 13px;
    }
    .star1_img {
      position: absolute;
      right: 0%;
      bottom: 0%;
    }
    .star2_img {
      position: absolute;
      right: 65px;
      bottom: 45.5px;
    }
  }
  .info {
    border-radius: 8px;
    width: 351px;
    height: 182px;
    background-color: #ffeeda;
    padding: 23px 0px 39px 34px;
    font-family: var(--font-manrope);
    .line1 {
      color: #575757;
      font-weight: 500;
      align-items: center;
      letter-spacing: -0.025em;
      line-height: 19px;
    }
    .line2 {
      font-weight: 700;
      font-size: 14px;
      color: #555555;
      align-items: center;
      letter-spacing: -0.025em;
      line-height: 19px;
      .colored{
        color: #FD464A;
      }
    }
    .line3 {
      color: #fd464a;
      font-weight: 700;
      font-size: 14px;
      align-items: center;
      letter-spacing: -0.025em;
      line-height: 19px;
    }
    .corporate_btn {
      margin-top: 20px;
      color: white;
      background:#555555;
      border-radius: 4px;
      align-items: center;
      padding: 12px;
      font-weight: 600;
    }
  }
}

@media (max-width: 950px) {
  .Discount {
    padding: 0 16px;
    .discountCard {
      width: auto;
      padding: 20px;
      padding-bottom: 80px;
      .discountText {
        // color: #fb5741;
        padding-top: 0;
      }
    }
    .info {
      width: auto;
      text-align: center;
      padding: 24px 26px;
      .line1 {
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: -0.025em;
        color: #555555;
      }
      .line2,
      .line3 {
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: -0.025em;
      }
      .corporate_btn {
        width: 100%;
        border-radius: 8px;
        justify-content: center;
        font-weight: 700;
        font-size: 14px;
        line-height: 140%;
      }
    }
  }
}
