.coaches_hero {
    background-color: #000;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 24px 60px;
    max-width: 1440px;
    margin: 0 auto;
  
    .left {
  
      .heading {
        font-weight: 800;
        line-height: 41px;
        text-align: left;
        color: white;
        padding-top: 32px;
        width: 80%;
  
        span {
          color: #fb614c;
        }
      }
    }
  
    .vector_art {
      place-self: center;
    }
  }
  
  @media (max-width: 950px) {
    .coaches_hero {
      padding: 30px 20px 20px;
      display: flex;
      flex-direction: column;
      .left {
        text-align: center;
        .heading {
          width: auto;
          text-align: center;
          padding-top: 20px;
          padding-bottom: 30px;
          font-weight: 800;
          font-size: 32px;
          line-height: 112.6%;
          letter-spacing: -0.03em;
        }
      }
    }
  }
  